{% extends "base_analise.html" %} {% block content2 %}
</br>
<h5>Lista dos alunos retidos com duração de graduação superior a 4 anos.</h5>
</br>
<p>Na coluna "%HORAS CURSADAS" a porcentagem foi calculada em relação
  carga horária total do curso analisado.</p>
</br>
<div>
  <form method="GET" id="formulario_rep" action="{{ url_for('alunos_retidos', id_usuario=id_usuario, id=id)}}">
    <label for="filtro_ano">Filtro Ano:</label>
    <input type="text" id="filtro_ano" name="filtro_ano" value="{{ meu_valor_padrao }}" placeholder="Ex: 2012"
           pattern="\d{4}" title="Por favor, insira um ano válido de 4 dígitos" >
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
</div>
<div id="scroll-tabela">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ALUNO</th>
          <th>TIPO INGRESSO</th>
          <th>SITUACAO ALUNO</th>
          <th>IRA</th>
          <th>ANO ENTRADA</th>
          <th>ULTIMA MATRICULA</th>
          <th>TEMPO GRADUACAO</th>
          <th> % HORAS CURSADAS</th>
        </tr>
      </thead>
      <tbody>
        {% for index,aluno in data.iterrows() %}
        <tr>
          <td>{{ aluno['ALUNO'] }}</td>
          <td>{{ aluno['TIPOINGRESSO'] }}</td>
          <td>{{ aluno['SITUACAO_ALUNO'] }}</td>
          <td>{{ aluno['IRA'] }}</td>
          <td>{{ aluno['ANO ENTRADA'] }}</td>
          <td>{{ aluno['ULTIMA MATRICULA'] }}</td>
          <td>{{ aluno['TEMPO GRADUACAO(Anos)'] }}</td>
          <td>{{ aluno['% CARGA HORARIA'] }} % </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div>
  {% if page > 1 %}
  <a href="{{ url_for('alunos_retidos', id_usuario=id_usuario, id=id, page=page-1, filtro_ano=request.args.get('filtro_ano'), situacao=request.args.get('situacao')) }}">Anterior</a>
  {% else %}
  <a class="disabled">Anterior</a>
  {% endif %}
  
  {% if page < num_pages %}
  <a href="{{ url_for('alunos_retidos', id_usuario=id_usuario, id=id, page=page+1, filtro_ano=request.args.get('filtro_ano'), situacao=request.args.get('situacao')) }}">Próxima</a>
  {% else %}
  <a class="disabled">Próxima</a>
  {% endif %}
  
</div>
<script>
var filtro_ano = "{{ request.args.get('filtro_ano', '') }}";
document.getElementById("filtro_ano").value = filtro_ano;
</script>
{% endblock %}