{% extends "base_analise.html" %} {% block content2 %}
  <div>
    <form
      method="GET"
      action="{{ url_for('analise', id_usuario=id_usuario,id=id)}}"
    >
      <label for="filtro" value="{{ meu_valor_padrao }}">Filtro Aluno:</label>
      <input type="text" id="filtro" name="filtro" value="{{ meu_valor_padrao }}" />
      <label for="situacao" value="{{ meu_valor_padrao }}">Situação Aluno:</label>
      <select id="situacao" name="situacao">
        <option value="{{ meu_valor_padrao }}" selected/>Todos</option>
        <option value="ativo">Ativo</option>
        <option value="trancado">Trancado</option>
        <option value="cancelado">Cancelado</option>
        <option value="jubilado">jubilado</option>
        <option value="concluido">Concluído</option>
        <option value="transferido">Transferido</option>
        <option value="suspenso">Suspensao</option>
      </select>      
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
  </div>
  <div id="scroll-tabela">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ingresso</th>
          <th>Aluno</th>
          <th>Tipo de Ingresso</th>
          <th>Situação do Aluno</th>
          <th>Data de Colação</th>
          <th>Data de Encerramento</th>
          <th>IRA</th>
          <th>Carga Horária</th>
        </tr>
      </thead>
      <tbody>
        {% for index,aluno in data.iterrows() %}
        <tr>
          <td>{{ aluno['INGRESSO'] }}</td>
          <td>{{ aluno['ALUNO'] }}</td>
          <td>{{ aluno['TIPOINGRESSO'] }}</td>
          <td>{{ aluno['SITUACAO_ALUNO'] }}</td>
          <td>{{ aluno['DATACOLACAO'] }}</td>
          <td>{{ aluno['DATAENCERRAMENTO'] }}</td>
          <td>{{ aluno['IRA'] }}</td>
          <td>{{ aluno['CARGA_HOR'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div>
  {% if page > 1 %}
  <a href="{{ url_for('analise', id_usuario=id_usuario,id=id,page=page-1) }}">Anterior</a>
  {% else %}
  <a class="disabled">Anterior</a>
  {% endif %}
  {% if page < num_pages %}
  <a href="{{ url_for('analise',id_usuario=id_usuario,id=id,page=page+1) }}">Próxima</a>
  {% else %}
  <a class="disabled">Próxima</a>
  {% endif %}
</div>

{% endblock %}
