{% extends "base.html" %}

   {% block content %}
        <div class="main">
          <div class="d-flex justify-content-between align-items-center" id='btn-dados'>
            <a href="{{ url_for('dashboard', id_usuario=id_usuario,id=id, page=1)}}" class="btn btn-primary"> Dados Gerais</a>
          </div>
          <ul class="tab-menu">
            <li class="active" onclick="openTab('tab1')" data-tab="tab1">Sitauação Aluno</li>
            <li onclick="openTab('tab2')" data-tab="tab2">Análise Disciplina</li>
            <li onclick="openTab('tab3')" data-tab="tab3">Comparativo</li>
            <li onclick="openTab('tab4')" data-tab="tab4">Formandos</li>
            <li onclick="openTab('tab5')" data-tab="tab5">Análise Evasão</li>
          </ul>
          
          <div class="tab active" id="tab1">
            {{ plot|safe }}
          </div>
          
          <div class="tab" id="tab2">
            <h6>Disicplinas que mais reprovam no curso de graduação analisado</h6>
            {{maior_reprovacao|safe}}
          </div>
          
          <div class="tab" id="tab3">
            <h6>Gráfico comparativo</h6>
            {{ comparativo|safe }}
          </div>

          <div class="tab" id="tab4">
            <h6>Formandos por ano</h6>
            {{ formandos|safe }}
          </div>

          <div class="tab" id="tab4">
            <h6>Analise Evasão</h6>
          </div>
   {% endblock %}
