{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('csv', id_usuario=id_usuario) }}" method="POST" enctype="multipart/form-data">
<div class="form-group">
<label for="arquivo_csv"> Selecione um arquivo csv:</label>
<input type="file" name="arquivo_csv" id="arquivo_csv" accept=".csv">
{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
</div>
<input type="submit" class="btn btn-primary" value="Enviar">
</form>
{% endblock %}
