{% extends "base.html" %}

   {% block content %}
         <div class="main">
           <form action="{{ url_for('csv', id_usuario=id_usuario) }}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
             <div class="mb-3">
               <label for="arquivo_csv" class="form-label">Selecione um arquivo CSV:</label>
               <div class="input-group">
                 <input type="file" name="arquivo_csv" id="arquivo_csv" accept=".csv" class="form-control">
                 <div class="invalid-feedback">
                   Por favor selecione um arquivo CSV válido.
                 </div>
               </div>
               {% with messages = get_flashed_messages(with_categories=true) %}
               {% if messages %}
               {% for category, message in messages %}
               <div class="alert alert-{{ category }}">
                 {{ message }}
               </div>
               {% endfor %}
               {% endif %}
               {% endwith %}
             </div>
             <button type="submit" class="btn btn-primary">Enviar</button>
           </form>
         </div>
   {% endblock %}
