<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"/>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
   <title>Upload de arquivo CSV</title>
</head>
<body>
   <div class="container-fluid ">
      <div class="row">
         <div class="col-6 col-md-3">
         <div class="sidebar">
            <div class="d-flex justify-content-between align-items-center">
               <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
            </div>
            <ul class="nav flex-column">
               <h3>Menu</h3>
               <li class="nav-item">
                  <a class="nav-link active" href="{{ url_for('csv', id_usuario=id_usuario) }}">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">Dashboard</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">Analise</a>
               </li>
            </ul>
         </div>
      </div>
      <div class="col col-md-9">
         <div class="dashboard">
            <h1>Dashboard</h1>
            <div class="d-flex justify-content-between align-items-center">
               <a href="{{ url_for('analise', id_usuario=id_usuario,id=id) }}" class="btn btn-primary"> Analise</a>
            </div>
            {% if data %}
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>INGRESSO</th>
                    <th>ALUNO</th>
                    <th>TIPOINGRESSO</th>
                    <th>SITUACAO_ALUNO</th>
                    <th>DATACOLACAO</th>
                    <th>DATAENCERRAMENTO</th>
                    <th>IRA</th>
                    <th>CURRICULO</th>
                    <th>CARGA_HOR</th>
                    <th>CARGA_HOR_CUMPRIDA</th>
                    <th>APROVADO</th>
                    <th>REPROVADO</th>
                    <th>CANCELADO</th>
                    <th>TRANCADO</th>
                    <th>DISPENSADO</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in data %}
                    <tr>
                    <td>{{ row['INGRESSO'] }}</td>
                    <td>{{ row['ALUNO'] }}</td>
                    <td>{{ row['TIPOINGRESSO'] }}</td>
                    <td>{{ row['SITUACAO_ALUNO'] }}</td>
                    <td>{{ row['DATACOLACAO'] }}</td>
                    <td>{{ row['DATAENCERRAMENTO'] }}</td>
                    <td>{{ row['IRA'] }}</td>
                    <td>{{ row['CURRICULO'] }}</td>
                    <td>{{ row['CARGA_HOR'] }}</td>
                    <td>{{ row['CARGA_OPC'] }}</td>
                    <td>{{ row['CARGA_ELET'] }}</td>
                    <td>{{ row['CARGA_COMP'] }}</td>
                    <td>{{ row['DISCIPLINA'] }}</td>
                    <td>{{ row['PERIODO'] }}</td>
                    <td>{{ row['NOTA'] }}</td>
                    <td>{{ row['SITUACAO_DISCIPLINA'] }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% endif %}
            <nav>
               <ul class="pagination">
                  {% if current_page > 1 %}
                  <li class="page-item">
                     <a
                        class="page-link"
                        href="{{ url_for('dashboard', id_usuario=id_usuario, id=id, page=current_page-1, per_page=per_page) }}"
                        >Anterior</a
                        >
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                     <span class="page-link">Anterior</span>
                  </li>
                  {% endif %}
                  {% for link in page_links %} 
                  {% if link[0] ==current_page %}
                  <li class="page-item active">
                     <span class="page-link">{{ link[0] }}</span>
                  </li>
                  {% else %}
                  <li class="page-item">
                     <a class="page-link" href="{{ link[1] }}">{{ link[0] }}</a>
                  </li>
                  {% endif %} 
                  {% endfor %}
                  {% if current_page < num_pages %}
                  <li class="page-item">
                     <a
                        class="page-link"
                        href="{{ url_for('dashboard', id_usuario=id_usuario, id=id, page=current_page+1, per_page=per_page) }}"
                        >Próxima</a
                        >
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                     <span class="page-link">Próxima</span>
                  </li>
                  {% endif %}
               </ul>
            </nav>
         </div>
       </div>       
      </div>
   </div>
   <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="../static/js/script.js"></script>
</body>
