<!DOCTYPE html>
<html Lang="pt-br">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="../static/styles.css"/>
	<title>Upload de arquivo CSV</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<form class="form-login" action="/login" method='post'>
					<h2 class="text-center">Login</h2>
					<div class="form-group">
						<label for="username">e-mail</label>
						<input type="text" class="form-control" name="username" id="username" placeholder="e-mail cadastrado">
					</div>
					<div class="form-group" >
						<label for="password">Senha</label>
						<input type="password" class="form-control" name="password"  id="password" placeholder="senha cadastrada">
					</div>
					<button type="submit" class="btn btn-primary btn-block">Login</button>
				</form>
			</div>
		</div>
	</div>

	<!-- Bootstrap JS -->
<script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/script.js"></script>
</body>
</html>
