<!DOCTYPE html>
<html Lang="pt-br">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}"/>
	<title>Sistema Graduação- UFJF</title>
</head>
<body>
	<div class="container" id='cont-top'>
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<form class="form-login" action="{{ url_for('login') }}" method='post'>
					<label for="username">Username:</label>
					<input type="text" id="username" name="username"><br><br>
					<label for="password">Password:</label>
					<input type="password" id="password" name="password"><br><br>
					<input type="submit" value="Login">
				</form>
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{ category }}">
				  {{ message }}
				</div>
				{% endfor %}
				{% endif %}
				{% endwith %}
			</div>
		</div>
	</div>

	<script src="{{url_for('static',filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{url_for('static',filename='js/script.js') }}"></script>
</body>
</html>
